/*--------*/
/* Header */
/*--------*/

$header-max-width: 500;

.home #header {
    height: 100%;
    background-color: $blue;
}

body.admin-bar.home #header {
    height: calc(100% - 46px);
    
    @include breakpoint(783px) {
        height: calc(100% - 32px);
    }
}

.header-content {
    @extend %vertical-center-fix;
    max-width: $header-max-width + px;
    margin: 0 auto;
    padding: 0 5px;
    
    @include breakpoint-max-height(500px) {
        max-width: 200px;
    }
}

.spc-header-logo-icon-container, .spc-header-logo-text-container {
    position: relative;
}

.spc-header-logo-icon-container {
    width: (100% * 200 / $header-max-width);
    margin: 0 auto;
    padding-bottom: (100% * 285 / $header-max-width);
    @include animation(slideupicon 0.75s ease 0s 1);
}

.spc-header-logo-text-container {
    @include transform(translate(-22%, -25%));
    width: (100% * 334 / $header-max-width);
    margin: 0 auto;
    padding-bottom: (100% * 178 / $header-max-width);
    @include animation(slideuptext 1.5s ease 0s 1);
}

@include keyframes(slideupicon) {
    0%, 25% { top: 20px; opacity: 0; }
    100%    { top: 0;    opacity: 1; }
}

@include keyframes(slideuptext) {
    0%, 50% { top: 20px; opacity: 0; }
    100%    { top: 0;    opacity: 1; }
}