/*----------------*/
/* Navigation Bar */
/*----------------*/

#nav {
    &.home-nav {
        background-color: rgba($blue, 0.75);
        
        .nav-logo {
            display: block;
            
            .vector-container {
                display: none;
            }
        }
    }
}